replicaCount: 1

image:
  pullPolicy: Always

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30080

env:
  SPRING_PROFILES_ACTIVE: k8s
  DB_URL: jdbc:postgresql://postgres-postgresql.dev.svc.cluster.local:5432/taskdb
  DB_USER: taskuser
  DB_PASSWORD: taskpass

ingress:
  enabled: true
  host: task-service.dev.local