replicaCount: 1

image:
  repository: tsingh38/taskhub
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: false

env:
  SPRING_PROFILES_ACTIVE: default

# Default Probe Configuration (Can be overridden in values-dev.yaml)
probes:
  liveness:
    enabled: true
    path: /actuator/health/liveness
    initialDelaySeconds: 15
    periodSeconds: 10
    failureThreshold: 3
  readiness:
    enabled: true
    path: /actuator/health/readiness
    initialDelaySeconds: 10
    periodSeconds: 10
    failureThreshold: 3

resources: {}
# (Optional: Add 'resources: {}' at the end to prevent template errors if your deployment.yaml references it)