apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: {{ .Values.env.DB_USER | quote }}
  SPRING_DATASOURCE_PASSWORD: {{ .Values.env.DB_PASSWORD | quote }}